
body {
    font-size: 13px;
}

.container {
    display: flex;
    flex-flow: column wrap;    
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;  
    width: 80vw;
}

h1 {
    color: #294f5e;
}

h2,
.navigator li {
    color: #294f5e;
    text-transform: uppercase;
    margin-bottom: 0;
}

article > p,
article > h2 {    
    text-align: justify;
}

/****** NAVIGATOR SECTION *******/

/* Logo */
.top {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 15px; 
}

.logo {
    width: 30%;
}

/* Nav */
.navigator {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 70%;
}
 
.navigator li {
    border: 2px groove #d9dcdf;
    border-radius: 5px;
    background: linear-gradient(#f6f6f6, #bdbcbc);
    display: inline-flex;    
    font-size: 15px;
    font-weight: bold; 
    justify-content: space-evenly;
    padding: 5px;
    width: 115px; 
    transition: all 0.7s ease-in-out;
}

.navigator li:hover {
    background: linear-gradient(#294f5e, #50717d);
    color: white;   
    cursor: pointer;
}

.navigator ul {
    padding: 0;
}

/*********** MAIN CONTENT SECTION **********/
.main {
    padding-top: 90px;
    width: 100%;
    background: #fff;
    position: relative;
}

.main > .content {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    position: relative;
    padding: 0 20px 0 25px;
    z-index: 1001;
}

.main > .layer-badges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 68%;
    height: 185px;
    position: relative;
    top: -60;
    z-index: 1002;
}

.main > .layer-content {
    width: 500px;
    position: relative;
    z-index: 1002;
    left: 30;
    bottom: 20;
}

.layer-content > h1 > span {
    font-size: 18px !important;
}

.main > .layer-hero {
    position: absolute;
    bottom: 4;
    right: 20;
    z-index: 1001;    
}

.main > .layer-background {
    width: 100%;
    height: 360px;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    border-top: 1px solid #b9d1d9;
    border-bottom: 1px solid #b9d1d9;
    padding: 3px 0;
}

.main > .layer-background > .gradient {
    background: linear-gradient(to top right, #b9d1d9, #e4e8e8);
    height: 100%;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.round-img {
    border: 2px groove #ced2d5;    
    border-radius: 50%;   
    background-color: white;
    height: 175px;
    width: 175px;
    margin-right: 20px;
    overflow: hidden;
    padding: 3px;
    z-index: 1002;
    
}

/* Shadow for smiling man */
.smiling-man {
    -webkit-filter: drop-shadow(-3px 0 3px rgba(122, 113, 113, 0.5));
    filter: drop-shadow(-3px 0 3px rgba(122, 113, 113, 0.5));
}

/********** BLOG - ARTICLE SECTION **********/
.blog-article {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.blog-article > section,
aside {
    margin: 0 15px;
}

section > p {
    text-align: justify;
}

/** BLOG SECTION **/
.blog {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.blog > article,
.articles > article,
aside > ul > li {
    border-bottom: 2px dashed #cfcccc;
}

.blog > article:last-child,
.articles > article:last-child,
.aside > ul > li:last-child {
    border: none;
}

.article-data > li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.article-data > li:first-child,
.article-data > li:nth-child(2) {
    border-right: 1px solid #cfcccc;
    padding-right: 3px;
}

ul.article-data {
    padding: 0;
    color: #cfcccc;
}

/** MAIN TEXT SECTION **/
.articles {
    display: flex;
    flex-direction: column;
    width: 48%;
}

/** ASIDE SECTION **/
.aside {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.aside > ul {
    margin: 0;
    padding: 0;
    text-align: justify;
    list-style: none;
}

.aside > ul > li {
    padding: 16px 0 16px 16px;
    text-indent: -14px;
}

.aside > ul > li::before { 
    display: inline-block;
      content: '';
      -webkit-border-radius: 50%;
      border-radius: 50%;
      height: 5px;
      width: 5px;
      margin-right: 0.5rem;
      background-color: #cfcccc;
    
  }

/*********** FOOTER SECTION **********/
.footer {
    background-color: #f5f5f5;
    color: #818b8d;
    font-size: 11px;
    font-weight: bolder;
}

h3 {
    text-transform: uppercase;
    font-weight: 900 !important;
}

.contact {
    display: inline-flex;
    width: 100%;
    font-weight: bold;
}

.contact > div {
    width: 20%;
    text-align: center;
}

.rights {
    width: 100%;
    text-align: center;
    color: #cecccc;
}

.fb-icon {
    margin-right: 10px;
}