
.container {
    width: 80vw;
    margin: 20px auto;
}

/****** NAVIGATOR SECTION *******/
.navigator {
    float: right;
}

.navigator li {
    display: inline-block;
}


/*********** MAIN CONTENT SECTION **********/
.round-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px groove #ced2d5;
    padding: 3px;
    margin: 15px;
}

/*********** BLOG SECTION **********/

/*********** MAIN TEXT SECTION **********/

/*********** ASIDE SECTION **********/

/*********** FOOTER SECTION **********/